In [40]:
import pandas as pd
import numpy as np
from IPython.display import HTML

db = pd.read_csv('diabetes.csv')
display(db.head())
print(len(db.columns))
print(db.isnull().sum())
db.info()
db.describe()

db[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = db[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.nan)
db.describe()
print(db.isnull().sum())
display(db[db.isnull().any(axis=1)].head(50))
print(db['Outcome'].unique())
db['Outcome'] = db['Outcome'].replace('O', 0)
db['Outcome'] = db['Outcome'].astype('int64')
print(db.Outcome.unique())
db.info()
db.value_counts()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

9
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB
Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1
10,4,110.0,92.0,NaN,NaN,37.6,0.191,30,0
11,10,168.0,74.0,NaN,NaN,38.0,0.537,34,1
12,10,139.0,80.0,NaN,NaN,27.1,1.441,57,0
15,7,100.0,NaN,NaN,NaN,30.0,0.484,32,1
17,7,107.0,74.0,NaN,NaN,29.6,0.254,31,1
21,8,99.0,84.0,NaN,NaN,35.4,0.388,50,0
22,7,196.0,90.0,NaN,NaN,39.8,0.451,41,1
23,9,119.0,80.0,35.0,NaN,29.0,0.263,29,1
26,7,147.0,76.0,NaN,NaN,39.4,0.257,43,1
29,5,117.0,92.0,NaN,NaN,34.1,0.337,38,0
30,5,109.0,75.0,26.0,NaN,36.0,0.546,60,0
33,6,92.0,92.0,NaN,NaN,19.9,0.188,28,0
34,10,122.0,78.0,31.0,NaN,27.6,0.512,45,0
36,11,138.0,76.0,NaN,NaN,33.2,0.420,35,0
37,9,102.0,76.0,37.0,NaN,32.9,0.665,46,1
38,2,90.0,68.0,42.0,NaN,38.2,0.503,27,1
41,7,133.0,84.0,NaN,NaN,40.2,0.696,37,0
42,7,106.0,92.0,18.0,NaN,22.7,0.235,48,0
44,7,159.0,64.0,NaN,NaN,27.4,0.294,40,0
45,0,180.0,66.0,39.0,NaN,42.0,1.893,25,1
46,1,146.0,56.0,NaN,NaN,29.7,0.564,29,0
47,2,71.0,70.0,27.0,NaN,28.0,0.586,22,0
48,7,103.0,66.0,32.0,NaN,39.1,0.344,31,1
49,7,105.0,NaN,NaN,NaN,NaN,0.305,24,0
55,1,73.0,50.0,10.0,NaN,23.0,0.248,21,0
58,0,146.0,82.0,NaN,NaN,40.5,1.781,44,0
60,2,84.0,NaN,NaN,NaN,NaN,0.304,21,0
61,8,133.0,72.0,NaN,NaN,32.9,0.270,39,1
62,5,44.0,62.0,NaN,NaN,25.0,0.587,36,0
64,7,114.0,66.0,NaN,NaN,32.8,0.258,42,1
65,5,99.0,74.0,27.0,NaN,29.0,0.203,32,0
66,0,109.0,88.0,30.0,NaN,32.5,0.855,38,1
67,2,109.0,92.0,NaN,NaN,42.7,0.845,54,O
72,13,126.0,90.0,NaN,NaN,43.4,0.583,42,1
74,1,79.0,75.0,30.0,NaN,32.0,0.396,22,0
75,1,NaN,48.0,20.0,NaN,24.7,0.140,22,0
76,7,62.0,78.0,NaN,NaN,32.6,0.391,41,0
77,5,95.0,72.0,33.0,NaN,37.7,0.370,27,0
78,0,131.0,NaN,NaN,NaN,43.2,0.270,26,1
79,2,112.0,66.0,22.0,NaN,25.0,0.307,24,0
80,3,113.0,44.0,13.0,NaN,22.4,0.140,22,0
81,2,74.0,NaN,NaN,NaN,NaN,0.102,22,0
83,0,101.0,65.0,28.0,NaN,24.6,0.237,22,0
84,5,137.0,108.0,NaN,NaN,48.8,0.227,37,1

['1' '0' 'O']
[1 0]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin  BMI   DiabetesPedigreeFunction  Age  Outcome
0            74.0     52.0           10.0           36.0     27.8  0.269                     22   0          1
4            117.0    64.0           27.0           120.0    33.2  0.230                     24   0          1
             111.0    72.0           47.0           207.0    37.1  1.390                     56   1          1
             110.0    76.0           20.0           100.0    28.4  0.118                     27   0          1
             109.0    64.0           44.0           99.0     34.8  0.905                     26   1          1
                                                                                                            ..
1            131.0    64.0           14.0           415.0    23.7  0.389                     21   0          1
             130.0    70.0           13.0           105.0    25.9  0.472                     22   0          1
                      60.0           23.0           170.0    28.6  0.692                     21   0          1
             128.0    98.0           41.0           58.0     32.0  1.321                     33   1          1
17           163.0    72.0           41.0           114.0    40.9  0.817                     47   1          1
Name: count, Length: 392, dtype: int64